@import "../../scss/_vars.scss";

.carouselItems {
  justify-content: center;
  align-items: center;
  text-align: center;

  color: $text;
  background-color: $bg;
  font-family: $font;
  user-select: none;

  p {
    font-size: 18px;
  }

  .MaxenceImg {
    width: 195px;
    height: 205px;
  }
  .LaurentImg {
    width: 280px;
    height: 205px;
  }
  .JustineImg {
    width: 180px;
    height: 205px;
  }
  .LisaImg {
    width: 200px;
    height: 205px;
  }
  .TinoImg {
    width: 180px;
    height: 205px;
  }
  .LeoImg {
    width: 170px;
    height: 205px;
  }
  .FernandoImg {
    width: 175px;
    height: 205px;
  }
  .FlorianImg {
    width: 165px;
    height: 205px;
  }
}

.containerAboutUs {
  color: $text;
  background-color: $bg;
  font-family: $font;
  position: relative;
  top: 80px;

  .containerStory {
    margin-top: 88px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    margin-bottom: 100px;

    h1 {
      color: $text;
      font-size: 2.5rem;
      text-align: center;
    }

    hr {
      background-color: $grey;
      width: 600px;
      height: 1px;
      border: none;
      border-radius: 10px;

      @media screen and (max-width: 768px) {
        width: 300px;
      }
      @media screen and (max-width: 480px) {
        width: 150px;
      }
    }

    p {
      color: $text;
      font-size: 1.2rem;
      text-align: center;
      margin-right: 25%;
      margin-left: 25%;
      margin-top: 50px;
    }
  }

  .containerMembers {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: 200px;
    margin-right: 200px;

    @media screen and (max-width: 1024px) {
      margin-left: 100px;
      margin-right: 100px;
    }
    @media screen and (max-width: 768px) {
      margin-left: 50px;
      margin-right: 50px;
    }
    @media screen and (max-width: 480px) {
      margin-left: 25px;
      margin-right: 25px;
    }

    h1 {
      color: $text;
      font-size: 2.5rem;
      text-align: center;
    }

    hr {
      background-color: $grey;
      width: 600px;
      height: 1px;
      border: none;
      border-radius: 10px;

      @media screen and (max-width: 768px) {
        width: 300px;
      }
      @media screen and (max-width: 480px) {
        width: 150px;
      }
    }
  }
}
