@import "../../scss/_vars.scss";

.dashboardContent {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 325px;
  top: 0px;
}

hr {
  width: 80%;
  border: 1px solid black;
}

.dashboardElement {
  // margin to remove later
  margin: 100px;

  width: 360px;
  border: 2px solid black;
  border-radius: 35px;

  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .dateRange {
    margin-top: -20px;
  }
}
