@import "../../scss/vars";

.travel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.destinationComponent {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 60vh;

  align-content: center;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    height: 50vh;
  }
}

.choseDestination {
  display: flex;
  flex-direction: column;
  position: relative;

  font-weight: 700;
  font-size: 35px;
  text-decoration: none;
  font-family: $font;
  color: $black;
  justify-content: center;

  @media (max-width: 768px) {
    font-size: 30px;
  }

  @media (max-width: 425px) {
    font-size: 25px;
  }

  .input {
    display: flex;
    flex-direction: column;
    font-weight: 200;
    font-size: 20px;
    justify-content: center;

    @media (max-width: 768px) {
      font-size: 18px;
      justify-content: space-between;
      align-content: center;
    }

    @media (max-width: 425px) {
      font-size: 15px;
      justify-content: space-between;
      align-content: center;
    }

    input {
      margin-left: 0px;
      margin-right: 0px;
      background-color: $bg;

      height: 5vh;
      width: 25vw;

      border-style: solid;
      border-color: $grey;
      border-radius: 10px;
      border-width: 1px;
    }
  }

  @media (max-width: 768px) {
    text-align: center;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
}

.photoCard {
  background-color: #95b0b4;
  height: 40vh;

  @media (max-width: 768px) {
    height: 30vh;
  }

  @media (max-width: 320px) {
    height: 20vh;
  }
}

.destinationPossibilities {
  display: flex;
  flex-direction: column;
  position: relative;

  height: 20vh;

  display: flex;
  font-weight: 200;
  font-size: 20px;

  .favoritePlaces {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
