@import "../../scss/_vars.scss";

.registerFormWrapper {
  color: $text;
  font-family: $font;
  user-select: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-y: hidden;

  .imageWrapper {
    flex: 1;
    margin-left: auto;
    filter: brightness(100%);
    width: 100%;
    height: 980px;
    border-radius: 0 200px 0 0;

    @media screen and (max-width: 1024px) {
      display: none;
    }

    .registerCard {
      position: absolute;
      top: 25%;
      left: 340px;
      color: $bg;
      align-items: center;
      text-align: center;
      justify-content: center;
    }

    .registerLinkPageButton {
      margin-top: 34px;
      width: 180px;
      height: 48px;
      z-index: 1;

      background-color: $grey;
      border: none;
      border-radius: 10px;
      color: $bg;
      cursor: pointer;

      font-weight: bold;
      font-size: 20px;

      &:hover {
        background-color: gray;
        transition-duration: 0.4s;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    margin-top: 13%;
    margin-left: 10%;
  }

  @media screen and (max-width: 390px) {
    margin-top: 20%;
    overflow-y: visible;
  }

  .registerTitle {
    position: relative;
    font-weight: bolder;
    z-index: 1;
    font-size: 35px;
    margin-block-end: 0;
  }

  .registerText {
    color: aqua;
    font-size: 20px;
    z-index: 1;

    position: relative;

    a {
      color: $links;
      text-decoration: none;
      font-weight: bolder;
      font-size: 20px;

      &:hover {
        color: $blueGreen;
        transition-duration: 0.4s;
      }
    }
  }

  .registerForm {
    position: relative;
    top: 30px;
    width: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    z-index: 1;

    background-color: $bg;

    @media screen and (max-width: 1300px) {
      width: 40%;
      font-size: medium !important;
    }

    @media screen and (max-width: 1024px) {
      width: 50%;
    }
    @media screen and (max-width: 768px) {
      width: 80%;
    }
    @media screen and (max-width: 480px) {
      width: 85%;
    }

    .flexColumn {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    input {
      width: 400px;
      height: 60px;
      z-index: 1;

      background-color: $bg;
      border: 1px lightgray solid;
      border-radius: 10px;

      &:hover {
        border: 1px gray solid;
        transition-duration: 0.4s;
      }
      &:focus {
        border: 1.5px #aaaa solid;
        transition-duration: 0.4s;
      }
    }

    .registerButton {
      margin-top: 34px;
      width: 180px;
      height: 52px;
      z-index: 1;

      background-color: $grey;
      border: none;
      border-radius: 10px;
      color: $text;
      cursor: pointer;

      font-weight: bold;
      font-size: 20px;

      &:hover {
        background-color: $links;
        transition-duration: 0.4s;
      }
    }

    .lineText {
      line-height: 1em;
      width: 80%;
      outline: 0;
      border: 0;
      position: relative;
      text-align: center;

      color: $grey;
      opacity: 0.5;

      &:before {
        content: "";
        background: linear-gradient(to right, transparent, $text, transparent);

        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
      }

      &:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: $text;

        padding: 0 0.5em;
        line-height: 1.5em;
        background-color: $bg;
      }
    }

    .alternateLogins {
      margin-top: 60px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-bottom: 24px;
      z-index: 1;
      gap: 48px;

      @media screen and (max-width: 768px) {
        gap: 32px;
        margin-top: 30px;
      }

      button {
        width: 60px;
        height: 60px;
        border: none;
        border-radius: 50%;
        background-color: $bg;
        cursor: pointer;

        &:hover {
          background-color: #cccc;
          transition-duration: 0.4s;
        }

        &disabled {
          cursor: not-allowed;
        }
      }
    }
  }
}
