@import "../../scss/_vars.scss";

.loginFormWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-y: hidden;

  @media screen and (max-width: 1024px) {
    overflow-y: visible;
  }

  .loginForm {
    flex: 1;
    margin-top: 200px;

    @media screen and (max-width: 912px) {
      margin-top: 100px;
    }

    .flexColumn {
      display: flex;
      flex-direction: column;
      align-items: center;

      .loginInput {
        background-color: $bg;
        width: 400px;
        height: 60px;
        padding: 0 10px;
        border: 1px solid lightgray;
        border-radius: 10px;
        font-size: 16px;
        outline: none;

        @media screen and (max-width: 540px) {
          width: 320px;
          height: 50px;
        }
      }
      .loginButton {
        margin-top: 34px;
        width: 180px;
        height: 52px;
        z-index: 1;

        background-color: $grey;
        border: none;
        border-radius: 10px;
        color: $text;
        cursor: pointer;

        font-weight: bold;
        font-size: 20px;

        &:hover {
          background-color: $links;
          transition-duration: 0.4s;
        }
      }
    }

    .lineText {
      line-height: 1em;
      width: 50%;
      outline: 0;
      border: 0;
      position: relative;
      text-align: center;
      margin-top: 42px;

      color: $grey;
      opacity: 0.5;

      @media screen and (max-width: 767px) {
        width: 80%;
        margin-top: 32px;
      }

      &:before {
        content: "";
        background: linear-gradient(to right, transparent, $text, transparent);

        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
      }

      &:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: $text;

        padding: 0 0.5em;
        line-height: 1.5em;
        background-color: $bg;
      }
    }
  }
}

.imageWrapper {
  flex: 1;
  margin-left: auto;
  filter: brightness(100%);
  width: 100%;
  height: 980px;
  border-radius: 200px 0 0 0;

  @media screen and (max-width: 1024px) {
    display: none;
  }

  .registerCard {
    position: absolute;
    top: 25%;
    left: 340px;
    color: $bg;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .registerLinkPageButton {
    margin-top: 34px;
    width: 180px;
    height: 48px;
    z-index: 1;

    background-color: $grey;
    border: none;
    border-radius: 10px;
    color: $bg;
    cursor: pointer;

    font-weight: bold;
    font-size: 20px;

    &:hover {
      background-color: gray;
      transition-duration: 0.4s;
    }
  }
}

.forgotPassword {
  display: flex;
  margin-left: 220px;
  margin-top: 0;
  justify-content: right;
  color: gray;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    font-size: 16px;
    margin-left: 180px;
  }
  @media screen and (max-width: 412px) {
    font-size: 14px;
    margin-left: 160px;
  }

  &:hover {
    color: $links;
    transition-duration: 0.3s;
  }
}

.alternateLogins {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 24px;
  z-index: 1;
  gap: 48px;

  @media screen and (max-width: 768px) {
    gap: 32px;
    margin-top: 30px;
  }

  button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: $bg;
    cursor: pointer;

    &:hover {
      background-color: #cccc;
      transition-duration: 0.4s;
    }

    &disabled {
      cursor: not-allowed;
    }
  }
}
