$white: #ffffff;
$black: #252525;

$bg: #f3f4f8;
$text: #101223;
$links: #008e9b;

$font: "Lato", sans-serif;

body {
  background-color: $bg;
  font-family: $font;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
