@import "react-alice-carousel/lib/scss/alice-carousel.scss";
@import "../../scss/vars";

.landingPage {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.title {
  position: relative;
  display: flex;

  align-items: center;
  text-align: center;
  justify-content: center;
  align-self: center;
  height: 5vh;

  color: $black;
  font-weight: 600;
  font-size: 26px;
  text-decoration: none;
  font-family: $font;

  @media (max-width: 1024px) {
    font-size: 20px;
  }

  @media (max-width: 375px) {
    font-size: 18px;
  }

  @media (max-width: 320px) {
    font-size: 16px;
  }
}

.carouselItems {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;

  color: $text;
  background-color: $bg;
  font-family: $font;

  height: 20vh;
  border-radius: 50px;
}

.backgroundCarousel {
  height: 60vh;

  justify-items: center;
  align-items: center;
  justify-content: center;
  position: relative;

  div {
    position: absolute;
    height: 100%;
    top: 0;
    background-color: transparent;

    > :not(:first-child) {
      display: none;
    }

    div {
      position: relative;
    }
  }

  .blur {
    filter: blur(15px);
    background-color: rgba($color: $grey, $alpha: 0.5);
    width: 100%;
    height: 100%;
    border-radius: 100px;
    position: relative;
  }
}

.description {
  background-color: $grey;
  border-radius: 30px;

  height: 8vh;

  color: $black;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
  font-family: $font;

  position: relative;
  display: flex;
  align-self: center;
  text-align: center;
  align-items: center;
  justify-content: center;

  box-shadow: 2px 5px 4px rgba($color: $black, $alpha: 0.3);

  @media (max-width: 1024px) {
    font-size: 20px;
  }

  @media (max-width: 425px) {
    font-size: 16px;
  }

  @media (max-width: 375px) {
    font-size: 14px;
  }
}
