@import "../../../scss/vars";

.containerOauthCallback {
  margin-top: 88px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  margin-bottom: 100px;

  h1 {
    color: $text;
    font-size: 2.5rem;
    text-align: center;
  }

  hr {
    background-color: $grey;
    width: 600px;
    height: 1px;
    border: none;
    border-radius: 10px;

    @media screen and (max-width: 768px) {
      width: 300px;
    }
    @media screen and (max-width: 480px) {
      width: 150px;
    }
  }

  p {
    color: $text;
    font-size: 1.2rem;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 50px;
  }
}
